@use "_variables" as *;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    font-family: $primary-police;
}

.left-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;  
    height: 100vh;  
    background-color: $secondary-color;
    z-index: -1;  
}

.icon-button-section {
    display: flex;           
    flex-direction: column;     
    align-items: center;        
    justify-content: space-around; 
    padding: 5px;             
    width: 80px;          
    height: 300px;            
    margin-left: 5px;         
    margin-top: 200px;
  }

  
  .icon-button {
    width: 60px;  
    height: 60px;  
    background-color: transparent;  
    border: none;  
    box-shadow: none;  
    outline: none;  
    cursor: pointer;  
    padding: 0;
    margin: 0; 
}

.icon-left {
    width: 60px; 
    height: 60px; 
    object-fit: contain; 
  }


.content-container {
    margin-left: 100px;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    background-color: $secondary-color;
    padding: 0 10px;
    color: $primary-color-police;
    gap: 60px; 
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 1; 
}

.logo {
    width: 200px;
}

.link-container {
    display: flex;
    gap: 220px;
    text-decoration: none;
    color: inherit;
    color: $primary-color-police;
}

.link {
    color: $primary-color-police;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

